/*==================================================
BOILERPLATE 2020 BY OLIVER PETER 🐕
====================================================

    - IMPORTS
    - ALL
    - BODY
    - HTML, BODY
    - GRID
    - VARIABLES
    - DIV

====================================================
THIS CSS KILLS 🖖🏻
==================================================*/

/*==================================================
IMPORTS
==================================================*/

/*==================================================
COLOURS
==================================================*/

:root {
    --col-1: #ccac00;
    --col-2: #18181A;
    --col-3: #F7F7F7;
    --col-4: #da4820;
}

/*==================================================
P, H1, H2, H3, H4, H5, H6
==================================================*/

:root {
	/* P */
	--font-p: 'MadrasExtraLight';
	--font-p-size: 1rem;
	
	/* H1 */
	--font-h1: 'madrasBoldItalic';
	--font-h1-size: 1.6rem;

	/* H2 */
	--font-h2: 'madrasBoldItalic';
	--font-size-h2: 1.1rem;

	/* H3 */
	--font-h3: 'madrasBoldItalic';
	--font-size-h3: 2.1rem;

	/* H4 */
	--font-h4: 'madrasBoldItalic';
	--font-size-h4: 3.1rem;
}

/*==================================================
A, LI
==================================================*/

/*==================================================
PADDING/MARGIN VARIABLES
==================================================*/

:root {
	/* CONTENT PADDING TOP/BUT */
	--pad-top: 2em;
	--pad-but: 2em;

	/* CONTENT PADDING LEFT/RIGHT */
	--pad-left: 1em;
	--pad-right: 1em;

	/* CONTENT MARGING TOP/BUT */
	--mar-top: 2em;
	--mar-but: 2em;

	/* CONTENT MARGIN LEFT/RIGHT */
	--mar-left: 1em;
	--mar-right: 1em;
}

/*==================================================
ALL
==================================================*/

* {
	margin: 0;
    box-sizing: border-box;
}

/*==================================================
HTML
==================================================*/

/*==================================================
BODY
==================================================*/

p {
	font-size: 16px;
}

/*==================================================
GRID
==================================================*/

.container {
    width: 100vw;
    height: 100vh;
    
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

/*==================================================
DIV
==================================================*/

header {

}

nav {

}

section {
	
}

article {
	
}

aside {

}

footer {

}